body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(106, 172, 220);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  padding-bottom: 5%;
}

h1 {
  color: rgb(224, 203, 163);
}

h2 {
  color: rgb(224, 203, 163);
}

button{
  width: 250px;
  height: 50px;
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgb(106, 172, 220), rgb(224, 203, 163));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  width: 250px;
  height: 50px;
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgb(106, 172, 220), rgb(224, 203, 163));
  background-origin: border-box;
  background-clip: content-box, border-box;
  display:inline-block;
}